html {
  overflow-y: scroll;
  overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(45deg,hsl(14, 85%, 65%), #e94545, #db24ce , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    background-attachment: fixed;
    animation: gradient 40s linear infinite;
    animation-direction: alternate;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: calc(100vw - 100%);
  }
  @keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

  .body-container {
    font: 14px "Avenir Next", Helvetica, Arial, sans-serif;
    color: #000000;
    margin: auto;
    max-width: 800px;
  }
  

  .question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .container-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name {
    font-size: 16px;

  }
  
  .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }
  .description {
  font-weight: 400;
  }

  .settings-button {
    display: flex;
    justify-content: right;
    margin-left: auto;
    flex-shrink: 0;
  }

  .inbox-icon {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 18px;
  }


  textarea {
    width: 100%;
    font: 14px "Avenir Next", Helvetica, Arial, sans-serif;
    padding: 10px 24px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 0px 0px 32px 32px;
    resize: none;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    transition: height 0.5s; 
    overflow: hidden;
  }
  textarea:focus {
    height: 150px;
  }
  button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
    height: 60px;
    color:#ffffff;
    background-color: #000000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 18px;
  }
  .x-button {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #000000;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -18px;
    right: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  }

  .send-button {
    position: absolute;
    background-color: #000000;
    color: #ffffff;
    border: 3px solid #000000;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 16px;
    right: 16px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
  }
  .qa-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 18px;
    border-radius: 32px 32px 32px 32px;
    font-size: 16px;
    font-weight: 400;
    font: "Avenir Next", Helvetica, Arial, sans-serif;
    overflow-wrap: break-word;
    word-wrap: break-word;

  }

  

  .answer-label{
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    display: flex;
    top: 1px;
    left: 11px;
  }
  .question-label{
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    display: flex;
    top: 7px;
    left: 8px;
  }
  
 .question {
    background-color: #ffffff;
    border-radius: 32px 32px 0px 0px;
    padding:10px;
    text-align: left;
    position: relative;
    word-wrap: break-word;
}
.answer {
    background-color: #ffffff;
    border-radius: 0px 0px 32px 32px;
    padding: 10px;
    text-align: left;
    position: relative;
}
 .answer-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 30px;
  align-items: center;
  justify-content: center;

}
.question-text {
  font-size: 16px;
  font-weight: 400;
  margin-left: 30px;
  bottom: -6px;

  position: relative;
}
.qa-container hr {
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0), rgb(255, 255, 255, .5),rgba(0, 0, 0, 0),rgb(255, 255, 255));
    margin: 0px 0;
  }

  .return-icon {
    margin-top: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 18px; 
  }

  .question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-form-header {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 16px 16px 12px;
    background-color: white;
    border-radius: 32px 32px 0px 0px;
    font-size: 16px;
    font-weight: 600;
  }
  #question-form {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  .container-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease-out;
  }

  #fade-in.htmx-added {
    opacity: 0;
  }
  #fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-out, height 0.5s ease-out;

  }